Source: rust-pathpatterns
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-bitflags-1+default-dev (>= 1.2-~~) <!nocheck>,
 librust-libc-0.2+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.1
Vcs-Git: 
Vcs-Browser: 
X-Cargo-Crate: pathpatterns
Rules-Requires-Root: no

Package: librust-pathpatterns-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-bitflags-1+default-dev (>= 1.2-~~),
 librust-libc-0.2+default-dev
Provides:
 librust-pathpatterns+default-dev (= ${binary:Version}),
 librust-pathpatterns-0-dev (= ${binary:Version}),
 librust-pathpatterns-0+default-dev (= ${binary:Version}),
 librust-pathpatterns-0.3-dev (= ${binary:Version}),
 librust-pathpatterns-0.3+default-dev (= ${binary:Version}),
 librust-pathpatterns-0.3.0-dev (= ${binary:Version}),
 librust-pathpatterns-0.3.0+default-dev (= ${binary:Version})
Description: Include/exclude path list implementation with git-like globbing support - Rust source code
 This package contains the source for the Rust pathpatterns crate, packaged by
 debcargo for use with cargo and dh-cargo.
